<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" 
    rel="stylesheet"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>

<body>
<div class="frame">
    <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1_1">
                <img
                src="images/profile.jpg" 
                width="156px" 
                height="142px"
                alt="">
            </div>
            <div class="left_1_2"><%=user.name%>
            </div>
            <div class="left_1_3"><%=user.profession%></div>
              <div class="left-icons">
                <a class="link_href" href="">
                  <div class="icon">
                      <img src="icon/Youtube.svg" class="icon-1" alt="">
                  </div>
               </a>
                <a class="link_href">
                  <div class="icon">
                      <img src="icon/Instagram.svg" class="icon-1" alt="">
                  </div>
               </a>
                <a class="link_href">
                  <div class="icon">
                      <img src="icon/Twitter.svg" class="icon-1" alt="">
                  </div>
               </a>
                <a class="link_href">
                  <div class="icon">
                      <img src="icon/Linkedin.svg" class="icon-1" alt="">
                  </div>
               </a>
                <a class="link_href">
                  <div class="icon">
                      <img src="icon/Facebook.svg" class="icon-1" alt="">
                  </div>
               </a>
                <a class="link_href">
                  <div class="icon">
                      <img src="icon/Dribbble.svg" class="icon-1" alt="">
                  </div>
                </a>
              </div>
          </div>
          <div class="marginer"></div>

       <div class="left_2">
            <div class="left_2-1">
              <div class="left_2_1-tit"> 
                <p>Age:</p>
              </div>
              <div class="left_2_age"><p>30</p>
              </div>
            </div>
            <div class="left_2-1">
             <div class="left_2-1-tit">
                <p>Residence:</p>
             </div>
            <div class="left_2-1_age"><p>UZB</p>
            </div>
          </div>
          <div class="left_2-1">
              <div class="left_2-1-tit">
                  <p>Freelance:</p>
              </div>
              <div class="left_2-1-available">
                <p>Available</p>
              </div>
          </div>
          <div class="left_2-1">
              <div class="left_2-1-tit">
                  <p>Address:</p>
              </div>
              <div class="left_2-1-age"><p>Korea, Seoul</p>
              </div>
          </div>         
        </div>
          <div class="marginer"></div>
          <div class="left_3">
            <div class="left_3-1">
              <div class="left_3-1-title">
                  <h1>Languages</h1>
              </div>
            </div>
            <div class="left_3-1">
              <div class="left_3-1-language">
                    <p>Uzbek</p>
              </div>
              <div class="left_3-1-foiz">
                  <p>100%</p>
              </div>
            </div>
            <div class="left_3-1">
                <div class="left_3-1-line">
                <div class="left_3-1-lin"> </div>
            </div>
            </div>
            <div class="left_3-1">
              <div class="left_3-1-language">
                  <p>Korean</p>
              </div>
              <div class="left_3-1-foiz">
                  <p>89%</p>
              </div>
            </div>
            <div class="left_3-1">
                <div class="left_3-1-line">
                <div class="left_3-1-lin-2"> </div>
            </div>
            </div>
            <div class="left_3-1">
              <div class="left_3-1-language">
                  <p>ENG</p>
              </div>
              <div class="left_3-1-foiz">
                  <p>70%</p>
              </div>
            </div>
            <div class="left_3-1">
                <div class="left_3-1-line">
                  <div class="left_3-1-lin-3"> </div>
                </div>
            </div>
        </div>
        </div>
          <div class="marginer"></div>
          <div class="left_4">
            <div class="left_4-1">
              <div class="left_4-1-title">
                  <h1>Skills</h1>
              </div>
            </div>
            <!---->
            <div class="left_4-1">
              <div class="left_4-1-skills">
                    <p>HTML</p> 
                  </div>
              <div class="left_4-1-foiz">
                  <p>90%</p>
              </div>
            </div>
            <div class="left_4-1">
                <div class="left_4-1-line">
                <div class="left_4-1-lin"> </div>
            </div>
            </div>
            <!--css-->
            <div class="left_4-1">
              <div class="left_4-1-skills">
                  <p>CSS</p>
              </div>
              <div class="left_4-1-foiz">
                  <p>85%</p>
              </div>
            </div>
            <div class="left_4-1">
                <div class="left_4-1-line">
                  <div class="left_4-1-lin-2"> </div>
                </div>
            </div>
            <!--js-->
            <div class="left_4-1">
              <div class="left_4-1-skills">
                  <p>JS</p>
              </div>
              <div class="left_4-1-foiz">
                  <p>75%</p>
              </div>
            </div>
            <div class="left_4-1">
              <div class="left_4-1-line">
                <div class="left_4-1-lin-3"> </div>
              </div>
            </div>
            <!--php-->
            <div class="left_4-1">
              <div class="left_4-1-skills">
                  <p>PHP</p>
              </div>
              <div class="left_4-1-foiz">
                  <p>75%</p>
              </div>
            </div>
            <div class="left_4-1">
              <div class="left_4-1-line">
               <div class="left_4-1-lin-4"></div>
                </div>
                <div class="left_4-1"></div>
                </div>
            </div>
             
            <!--word-->
            <div class="left_4-1">
                <div class="left_4-1-skills">
                   <p>Word Press</p>
                   </div>
                 <div class="left_4-1-foiz">
                   <p>85%</p>
                 </div>
                </div>
                <div class="left_4-1">
                  <div class="left_4-1-line">
                <div class="left_4-1-lin-5"> </div>
                </div>
              </div>
            </div>
          <div class="marginer"></div>
          <div class="left_5">
            <div class="left_5">
                    <div class="left_5-1">
                        <div class="left_5-1-title">
                            <h1>Extra Skills</h1>
                        </div>
                    </div>
                     <div class="left_5-1">
                        <div class="left_5-1-icon">
                            <a href="#"><img src="icon/Icons.png" alt=""></a>
                        </div>
                        <div class="left_5-1-dicrb">
                            <p>Bootstrap,Matarialize</p>
                        </div>
                    </div>
                      <div class="left_5-1">
                        <div class="left_5-1-icon">
                            <a href="#"><img src="icon/Icons.png" alt=""></a>
                        </div>
                        <div class="left_5-1-dicrb">
                            <p>Stylus, Sass, Less</p>
                        </div>
                    </div>
                      <div class="left_5-1">
                        <div class="left_5-1-icon">
                            <a href="#"><img src="icon/Icons.png" alt=""></a>
                        </div>
                        <div class="left_5-1-dicrb">
                            <p>Gulp, Webpack, Grunt</p>
                        </div>
                    </div>
                      <div class="left_5-1">
                        <div class="left_5-1-icon">
                            <a href="#"><img src="icon/Icons.png" alt=""></a>
                        </div>
                        <div class="left_5-1-dicrb">
                            <p>GIT Knowledge</p>
                        </div>
                    </div>
          </div>
          <div class="marginer"></div>
        </div>
        <div class="mid_frame"> </div>
        <div class="right_frame"> </div>
    </div>
</div>
    
</body>

</html>